.padding-md {
  padding: 15px;
  text-align: center;
}
.border-all {
  border: 1px solid #adadad;
  border-radius: 2px;
}
.prop-name {
  margin-right: -4px;
  width: 200px;
  font-weight: bold;
}
.prop-month {
  width: 130px;
  padding: 10px;
  text-align: center;
}
.inline {
  display: inline-block;
}
.h-line {
  display: inline;
  border-top: 1px solid #adadad;
  width: 100%;
  padding-left: 70px;
}
.v-line {
  margin-top: 0;
  margin-bottom: 0;
  width: 0;
  border-left: 1px solid #adadad;
  padding-top: 50px;
}
.h-rule span {
  margin-top:-5px;
}
